body
{
	overflow-x: hidden;
}

@media only screen and (max-width: 1280px)
{
    .bannersection {
        background-position: -360px 100%;
    }
    .widget-area .widget_pearo_posts_thumb .item .info .title
	{
		font-size: 14px;
	}

	.single-blog-post .post-content h3
	{
		font-size: 15px;
	}

	.single-blog-post .post-content p
	{
		font-size: 14px;
	}
}

@media only screen and (max-width: 1024px)
{
	.commonSection .fixImg3
	{
		left: -100px;
	}

	.widget-area .widget_pearo_posts_thumb .item .info .title
	{
		font-size: 14px;
	}

	.dlab-media img
	{
		width: 100%;
	}

	.bannersection .bannerBox .bimg2
	{
	    width: 280px;
	    height: 385px;
	    left: 55px;
	}

	.bannersection .bannerBox .bimg1
	{
		width: 280px;
	    height: 385px;
	}

	.bannersection
	{
		background-position: -335px 100%;
	}
}

@media (max-width: 991px) {
    .navbar-collapse {
        position: fixed;
        top: 0; /* adjust to height of navbar */
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 35%;
        height: 100%;
        background:linear-gradient(93.94deg, #7ED102 -41.2%, #D4931A 238.88%);
    }

    .widget-area {
	    margin-top: 40px;
	}

    .custombtn
    {
    	background:linear-gradient(93.94deg, #6aaf04 -41.2%, #D4931A 238.88%)
    }

    .about-bx3 .about-content
	{
		margin: 0;
	}

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }

    .navbar-collapse .navbar-nav .nav-item.active .nav-link,
    .navbar-collapse .navbar-nav .nav-item .nav-link
    {
    	color: #fff;
   		padding: 17px 9px;
    }

    .navbar-collapse .custombtn 
    {
    	position: absolute;
    	bottom: 20px;
    }

    .mt40 {
    	margin-top: -47px;
	}

    .commonSection .fixImg
    {
    	left: -170px;
    }

    .commonSection .fixImg1
    {
    	right: 0;
    	width: 348.33px
    }

    .clientImg
    {
    	z-index: -1;
    	opacity: .2;
    }

    .sliderBlog .discretion-blog h4
    {
    	font-size: 13px;
    }
    
    .sliderBlog .discretion-blog {
    	padding: 15px 10px;
	}

	.plrany
	{
		padding-left: 100px;
	}

	.downloadSection h2
	{
		font-size: 30PX;
	}

	.downloadSection .userImg
	{
		height: 200px;
		width: 200px;
	}
}

@media only screen and (max-width: 767px)
{
	.bannersection h1
	{
		font-size: 35px;
	}

	.pagination-area .page-numbers {
	    width: 40px;
	    height: 40px;
	    margin: 0 2px;
	    line-height: 44px;
	    font-size: 17px;
	}

	.single-blog-post .post-content h3 {
	    font-size: 16px;
	}

	.comments-area .comment-respond .comment-reply-title {
	    font-size: 19px;
	}

	.widget-area .widget_pearo_posts_thumb .item .info .title {
	    font-size: 14px;
	}

	.widget-area .widget_recent_comments ul li {
	    font-size: 14px;
	}

	.widget-area {
	    margin-top: 40px;
	}

	.blog-details-desc .article-content h3 {
	    margin-bottom: 13px;
	    font-size: 19px;
	    line-height: 1.3;
	}

	.blog-details-desc .article-footer .article-tags {
	    -ms-flex: 0 0 100%;
	    -webkit-box-flex: 0;
	    flex: 0 0 100%;
	    max-width: 100%;
	}

	.blog-details-desc .article-footer .article-share {
	    -ms-flex: 0 0 100%;
	    -webkit-box-flex: 0;
	    flex: 0 0 100%;
	    max-width: 100%;
	    margin-top: 15px;
	}

	.blog-details-desc .article-footer .article-share .social {
	    text-align: center;
	}

	.blog-details-desc .article-footer {
	    text-align: center;
	}

	.bannersection
	{
		background-position: -0px 100%;
		height: 880px;
	}

	.commonSection .fixImg3.fixShape3
	{
		display: none;
	}

	.mt40 {
    	margin-top: -47px;
	}

	.mb14
	{
		margin-bottom: 30px;
	}

	.commonSection .fixImg1 
	{
	    width: 292.33px;	
	}

	.pt200 {
    	padding-top: 100px;
	}

	.mtm
	{
		margin-top: -100px;
		margin-bottom: 50px;
	}

	.pb80
	{
		padding-bottom: 40px;
	}

	.mb25
	{
		margin-bottom: 25px;
	}

	.commonSection .fixImg {
    	left: -280px;
    	height: 500px;
	}

	.pb140
	{
		padding-bottom: 60px;
	}

	.downloadSection
	{
		background-position: right;
		height: 760px;
		margin-top: 80px;
	}

	.plrany {
    	padding-left: 15px;
    	padding-top: 0;
	}

	.downloadSection .userImg {
	    height: 200px;
	    width: 200px;
	    position: absolute;
	    top: 0;
	}

	.commonSection .fixImg3 {
    	left: -224px;
	}

	.bannersection .container {
    	padding-top: 120px;
	}

	.clientImg
	{
		z-index: -1;
	}

	.my-owl-nav.mytop {
    	margin-top: 40px;
	}

	.pl100 {
    	padding-left: 15px;
	}

	.my-owl-nav
	{
		text-align: center;
	}

	.my-owl-nav span
	{
		display: inline-block;
		    margin-bottom: 30px;
	}

	.videoBox {
	    position: relative;
	    height: 350px;
	    border-radius: 30px;
	}

	.features .fixImg4 {
	    position: absolute;
	    width: 207px;
	    height: 409px;
	    left: auto;
	    right: 0;
	    top: 18%;
	}

	.navbar-collapse
	{
		width: 70%;
	}

	.bannerBox
	{
		padding-top: 80px;
	}

	.bannersection .bannerBox .bimg1 {
	    width: 200px;
	        border-radius: 20px;
	    height: 200px;
	}
	
	.bannersection .bannerBox .bimg2
	{
		    border-radius: 20px;
		 width: 200px;
	    height: 200px;
	}

	.orderMobile .row .orb
	{
		order: 1;
	}

	.compad {
    	padding: 60px 0;
	}


	.text-green
	{
		    padding-right: 35px;
	}

	.collapsible-link::before
	{
		right: 0;
	}

	.collapsible-link::after
	{
		right: calc(1rem + -10px);
	}

	.about-bx3 .about-content
	{
		margin: 0;
	}

	.about-bx3 .about-content {
    	padding: 40px 15px;
	}

	.about-bx3 .about-content .title {
	    font-size: 32px;
	    line-height: 45px;
	    margin-bottom: 19px;
	    color: #fff;
	}

	.dlab-media img
	{
		width: 100%;
	}
}